@import '../../styles';

.post-course {
  min-height: 100vh;
  background-image: url('../../assets/images/banner-bg.png');
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .alert-msg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 1rem;
    background-color: $background-blue;
    p {
      text-align: center;
      font-size: 2rem;
      font-weight: 600;
      color: $primary-white;
      letter-spacing: 0.1rem;
      line-height: 1.5;
      @media (max-width: 414px) {
        font-size: 1rem;
      }
    }
  }

  .main-content {
    width: min(85%, 1200px);
    display: flex;
    flex-direction: column;

    .form {
      margin: 3.5rem 0;
      padding: 3rem;
      border-radius: 0.25rem;
      background-color: $primary-white;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2.5rem;
      letter-spacing: 0.015rem;

      @media (max-width: 414px) {
        padding: 1rem;
      }

      .form-header {
        line-height: 1.5;
      }

      .form-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .input-field {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          label {
            font-size: 1.5rem;
            font-weight: 600;
          }
          input,
          textarea {
            padding: 0.5rem;
            outline: none;
            border: none;
            border-radius: 0.25rem;
            background-color: $background-gray;
            font-size: 1.5rem;
            letter-spacing: 0.05rem;

            &:focus {
              background-color: white;
              outline: 0.1rem solid $background-gray;
            }
            &::placeholder {
              color: $font-color-light;
            }
          }
          textarea {
            min-height: 20rem;
            resize: vertical;
          }
        }
      }

      .submit-btn {
        box-shadow: none;
        font-size: 1.5rem;
        border-radius: 0.25rem;
        background-color: $primary-blue;
        color: $primary-white;
        letter-spacing: 0.05rem;
        &:hover {
          background-color: $primary-green;
        }
      }
      .error-msg {
        color: $primary-red;
        font-size: 1.75rem;
      }
    }
  }
}
