@import '../../styles';

.modal-backdrop {
  @include flex-center;
  position: fixed;
  top: 0;
  z-index: z-index('modal');
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  .modal-content {
    width: max(30%, 25rem);
    margin: 1rem;
    border-radius: 1rem;
    background-color: $background-gray;
  }
}
