@import '../../styles';

.modal-backdrop {
  @include flex-center;
  position: fixed;
  top: 0;
  z-index: z-index('modal');
  width: 100%;
  height: 100%;
  background-color: $background-black;

  .modal-content {
    width: max(30%, 25rem);
    margin: 1rem;
    border-radius: 1rem;
    background-color: $background-gray;
    position: relative;

    .close-icon {
      position: absolute;
      top: 1.25rem;
      right: 1rem;
      color: $btn-gray;
      font-size: 2rem;
      cursor: pointer;
      z-index: 1;
    }

    // TODO: 在Private Routes時候固定開啟Modal
    .hide-close-icon {
      display: none;
    }
  }
}
