@import '../../styles/';

.home {
  .banner {
    @include flex-center;
    gap: 5rem;
    background-image: url('../../assets/images/banner-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 0 10rem;

    .slogan {
      color: $primary-white;

      h1 {
        font-size: 3.5rem;
      }
      p {
        font-size: 1.2rem;
        line-height: 2rem;
      }
      .action {
        @include flex-center;
        justify-content: flex-start;
        padding: 1.5rem 0;
        gap: 2rem;
      }
    }

    .video-container {
      max-width: 50rem;
      video {
        width: 100%;
        border-radius: 1rem;
      }
    }
  }

  .roleIntro {
    background-color: $secondary-yellow;

    .role {
      // border: 2px solid red; // 輔助線
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      div {
        // border: 2px solid green; // 輔助線
        display: flex;
        align-items: center;
        justify-content: space-between;

        flex-direction: column;
        margin: 1rem;
        flex: 1 1 300px;
        background-color: $background-wheat;

        h2 {
          font-size: 1.6rem;
          padding: 0.5rem 0rem;
        }

        p {
          font-size: 1.2rem;
          color: $font-color-p;
          text-indent: 2rem;
          line-height: 1.5rem;
          padding: 0.5rem;
          text-align: center;
        }

        button {
          padding: 0.7rem 1rem;
          margin: 0.7rem 0rem;
          background-color: $primary-white;
          border: 2px solid $primary-yellow;
          border-radius: 12px;
          cursor: pointer;
        }
      }
    }
  }
}
