@import '../../styles';

.profile {
  background-image: url('../../assets/images/banner-bg.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  padding: 10rem 2%;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .alert-msg {
    background-color: $background-white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    p {
      font-size: 2rem;
      font-weight: 600;
      color: $primary-red;
      letter-spacing: 0.1rem;
      line-height: 1.5;
      @media (max-width: 45rem) {
        font-size: 1.5rem;
      }
    }
    .login-btn {
      color: $primary-red;
      letter-spacing: 0.05rem;
      font-weight: 600;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      &:hover {
        color: $primary-blue;
      }
    }
  }

  .user-information {
    padding: 2rem;
    border-radius: 2rem;
    background-color: $background-gray;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    h1 {
      margin: 1rem 0 2rem 0;
      letter-spacing: 0.01rem;
    }

    .user-info-content {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      .column {
        display: flex;
        gap: 1rem;

        p {
          font-size: 1.25rem;
          letter-spacing: 0.025rem;
          font-weight: 600;
        }
        div {
          font-size: 1.25rem;
          letter-spacing: 0.025rem;
        }
      }
    }
  }

  .my-courses {
    padding: 2rem 2rem 3rem 2rem;
    border-radius: 2rem;
    background-color: $background-gray;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    h1 {
      margin: 1rem 0 2rem 0;
      letter-spacing: 0.01rem;
    }

    .msg-for-no-course {
      p {
        font-size: 1.25rem;
        font-weight: 600;
        letter-spacing: 0.025rem;
        line-height: 1.35;
        span {
          font-size: 1.25rem;
          color: $primary-blue;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
