@import 'src/styles';

.customize-button {
  background-color: $primary-white;
  color: $primary-black;
  border-radius: 1.5rem;
  border: none;
  outline: none;
  font-size: $font-size-base;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  cursor: pointer;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px, #d6d6e7 0 -3px 0 inset;
  transition: 0.2s;

  &:hover {
    background-color: $secondary-yellow;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px, $primary-yellow 0 -3px 0 inset;
  }
}

.hide-button {
  display: none;
}
