@import '../../styles/';

.home {
  .banner {
    @include flex-center;
    background-image: url('../../assets/images/banner-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 10rem 0;

    .introduction {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      justify-items: center;
      width: 90%;
      margin: auto;
      gap: 2rem;
    }

    .slogan {
      color: $primary-white;

      h1 {
        font-size: 3.5rem;
        margin-bottom: 2rem;
        // overflow: hidden;
        // white-space: nowrap;
        // border-right: 2px solid;
        // width: 0;
        // animation: typing 1.5s steps(30, end) forwards, blinking 1s infinite;
      }

      p {
        font-size: 1.2rem;
        line-height: 2rem;
      }
      .action {
        @include flex-center;
        justify-content: flex-start;
        padding: 1.5rem 0;
        gap: 2rem;
      }
    }

    .video-container {
      @include flex-center;
      // border: 1px solid red;
      max-width: 40rem;

      video {
        width: 100%;
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
      }
    }
  }
  .gallery {
    display: flex;
    justify-content: space-evenly;
    div {
      padding: 1rem;
    }
  }
  .role-intro {
    background-color: $secondary-yellow;

    .role {
      // border: 2px solid red; // 輔助線
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      div {
        // border: 2px solid green; // 輔助線
        display: flex;
        align-items: center;
        justify-content: space-between;

        flex-direction: column;
        margin: 1rem;
        flex: 1 1 300px;
        background-color: $background-wheat;

        h2 {
          font-size: 1.6rem;
          padding: 0.5rem 0rem;
        }

        p {
          font-size: 1.2rem;
          color: $font-color;
          text-indent: 2rem;
          line-height: 1.5rem;
          padding: 0.5rem;
          text-align: center;
        }
      }
    }
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking {
  0% {
    border-right-color: transparent;
  }
  50% {
    border-right-color: black;
  }
  100% {
    border-right-color: transparent;
  }
}
