@import '../../styles/';

.login-warning {
  @include flex-center;
  .msg-not-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    padding: 2rem;
    width: fit-content;
    border-radius: 2rem;
    background-color: $background-white;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;

    h1 {
      color: $primary-red;
      text-align: center;
      letter-spacing: 0.1rem;
    }
    .go-login-btn {
      font-size: 1.25rem;
    }
  }
}
