@import '../../styles';

.all-courses {
  .banner {
    background-image: url('../../assets/images/banner-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 10rem 5%;
    display: flex;
    flex-direction: column;
    gap: 5rem;

    .search-bar {
      background-color: $primary-white;
      padding: 0.75rem 1rem;
      border-radius: 0.75rem;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

      display: flex;
      align-items: center;

      input {
        background-color: $primary-white;
        outline: none;
        border: none;
        width: 100%;
        font-size: 1.75rem;
      }
      .search-btn {
        cursor: pointer;
        font-size: 1.75rem;
        color: $primary-blue;
      }
    }

    .search-result {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 2rem;
      .message {
        color: $primary-white;
        font-size: 1.75rem;
        line-height: 1.5;
        letter-spacing: 0.05rem;
      }
    }

    .dividing-line {
      height: 0.25rem;
      background-color: $primary-white;
      border-radius: 0.25rem;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    .all-courses {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 2rem;
    }
  }
}
