@import '../../styles';

footer {
  background-color: $primary-black;
  color: $primary-white;
  section {
    // border: 2px solid blue; // 輔助線
    display: flex;
    flex-wrap: wrap;
    padding: 0.25rem;

    .logo-area {
      //   border: 2px solid red; // 輔助線
      padding: 1rem;
      flex: 2 1 300px;

      .logo {
        margin: 0 0 0 0.5rem;
        img {
          width: 30%;
        }
      }
      .short-description {
        font-size: 1.25rem;
        padding: 1rem;
      }
      .contact-icons {
        display: flex;
        padding: 0rem 1rem;
        .instagram {
          padding: 0 0.75rem;
        }
        .youtube {
          padding: 0 0 0 0.75rem;
        }
      }
    }

    .topics {
      //   border: 2px solid green; // 輔助線
      padding: 1.5rem;
      flex: 1 1 0px;

      ul {
        list-style-type: none;
        li {
          padding: 0.25rem 0;
        }
      }
    }

    .get-in-touch {
      //   border: 2px solid blueviolet; // 輔助線
      padding: 1.5rem;
      flex: 1.5 1 0px;
      p {
        padding: 0.25rem 0;
      }
    }
  }
  .copyright {
    padding: 0 2rem 1rem 0;
    text-align: right;
  }
}

h4 {
  font-size: 1.75rem;
  padding: 1rem 0rem;
  white-space: nowrap;
}
