<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        font-size: 20px;
      }
      h1 {
        color: white;
      }
      p {
        color: #555;
        line-height: 1.4;
      }
      .enroll-btn {
        text-decoration: none;
        color: white !important;
        background-color: #029251;
        padding: 10px 20px;
        border-radius: 10px;
      }
      .header {
        text-align: center;
        background-color: #478adc;
        color: white;
        padding: 20px 0;
      }
      .content {
        padding: 20px 0;
      }
      footer {
        font-size: 12px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Welcome to our MING Online Programming Course!</h1>
      </div>
      <div class="content">
        <p>Dear subscribers,</p>
        <p>Are you ready to take your programming skills to the next level?</p>
        <p>Join our online programming course and unlock a world of possibilities:</p>
        <ul>
          <li>Learn from industry experts</li>
          <li>Access a vast library of coding exercises</li>
          <li>Get hands-on experience with real-world projects</li>
          <li>Collaborate with fellow learners in our online community</li>
        </ul>
        <p>Don't miss out on this incredible opportunity to advance your coding journey.</p>
        <p>Enroll today and start coding like a pro!</p>
        <div><a href="<%= link %>" target="_blank" class="enroll-btn">Enroll Now</a></div>
      </div>
      <div class="footer">
        <p>
          If you no longer wish to receive our newsletter, you can unsubscribe here:
          <a href="<%= `${link}/unsubscribe-newsletter/${email}` %>" target="_blank">Unsubscribe</a>
        </p>
      </div>
    </div>
  </body>
</html>
