<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        font-size: 20px;
      }
      h1 {
        text-align: center;
        background-color: #478adc;
        color: white;
        padding: 30px;
      }
      .username {
        font-size: larger;
        text-decoration: #e3a431 wavy underline;
      }
      p {
        color: #555;
        line-height: 1.4;
      }
      a {
        text-decoration: none;
        color: white !important;
        background-color: #029251;
        padding: 10px 20px;
        border-radius: 10px;
      }
      .time {
        color: #d82c34;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Reset password</h1>
      <p>Hi <span class="username"><%= username %></span>,</p>
      <br />
      <p>Forgot your password?</p>
      <p>We have received a request to reset the password for your account.</p>
      <p>To reset your password, please click on the link below or paste this into your browser to complete the process.</p>
      <a target="_blank" href="#">Reset</a>
      <br />
      <p>This link will work for <span class="time">5 minutes</span> or until your password is reset.</p>
      <p>If you did not ask to change your password, please ignore this email and your account will remain unchanged.</p>
    </div>
  </body>
</html>
