@import '../../styles/';

.reset-password {
  color: $primary-blue;
  position: relative;

  h1 {
    padding: 1rem 1.5rem;
  }

  .close-icon {
    color: $btn-gray;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    top: 1.25rem;
    right: 1rem;
  }
  .hide-close-icon {
    display: none;
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    border: 5px solid white;
    border-left: none;
    border-right: none;
    padding: 1.75rem;

    P {
      color: $primary-blue;
      font-size: 1.15rem;
      font-weight: 600;
    }
    input {
      border: none;
      border-radius: 0.25rem;
      padding: 0 0.5rem;
      height: 2.75rem;
      font-size: 1.15rem;

      background-color: $primary-white;
      &:focus {
        outline-color: $secondary-blue;
      }
      &::placeholder {
        color: $secondary-blue;
      }
    }
    .msg-for-user {
      color: $primary-red;
      font-weight: 800;
    }
    .send-password-reset-email-btn {
      border-radius: 0.25rem;
      height: 2.75rem;
      box-shadow: none;
      background-color: $secondary-blue;
      color: $primary-white;
    }
  }

  .click-sign-up {
    color: $secondary-blue;
    text-align: center;
    padding: 1.5rem;
    span {
      cursor: pointer;
    }
  }
}
