// primary color
$primary-white: hsl(0, 0%, 98%);
$primary-black: hsl(120, 4%, 10%);
$primary-green: hsl(153, 97%, 29%);
$primary-blue: hsl(213, 68%, 44%);
$primary-red: hsl(357, 69%, 51%);
$primary-yellow: hsl(39, 76%, 54%);

// secondary color（increase the brightness for the primary color）
$secondary-green: hsl(153, 97%, 42%);
$secondary-blue: hsl(213, 68%, 57%);
$secondary-red: hsl(357, 68%, 64%);
$secondary-yellow: hsl(39, 76%, 67%);
