// primary color
$primary-white: hsl(0, 0%, 98%);
$primary-black: hsl(120, 4%, 10%);
$primary-green: hsl(153, 97%, 29%);
$primary-blue: hsl(213, 68%, 44%);
$primary-red: hsl(357, 69%, 51%);
$primary-yellow: hsl(39, 76%, 54%);

// secondary color (increase the brightness for the primary color)
$secondary-blue: hsl(213, 68%, 57%);
$secondary-red: hsl(357, 68%, 64%);
$secondary-yellow: hsl(39, 76%, 70%);

// background color (increase opacity)
$background-blue: rgba(36, 105, 188, 0.504);
$background-black: rgba(0, 0, 0, 0.7);
$background-gray: rgb(219, 219, 219);

// btn color
$btn-gray: rgb(175, 175, 175);

// font color
$font-color: rgb(85, 85, 85);
$font-color-light: rgb(128, 128, 128);

// font Size
$font-size-base: 1rem; // 16px
$font-size-sm: calc(0.75 * $font-size-base); // 12px
$font-size-h5: calc(1.25 * $font-size-base); // 20px
$font-size-h4: calc(1.5 * $font-size-base); // 24px
$font-size-h3: calc(1.75 * $font-size-base); // 28px
$font-size-h2: calc(2 * $font-size-base); // 32px
$font-size-h1: calc(2.25 * $font-size-base); // 36px
